#titleDesktop {
  font-family: 'Press Start 2P', cursive;
  color: #45BAC0;
  font-size: 4vh;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

#titleMobile {
  display: none;
}

#commandes p {
  font-family: Roboto;
  color: white;
  font-size: 3vh;
  text-align: center;
  margin-bottom: 118px;
}

@media screen and (max-width: 425px) {
  #commandes {
    height: 755px;
  }
  #titleDesktop {
    display: none;
  }
  #titleMobile {
    display: block;
    font-family: 'Press Start 2P', cursive;
    color: #45BAC0;
    text-align: center;
    margin-bottom: 30px;
    font-size: 3.2vh;
    line-height: 45px;
  }
  #commandes p {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  #commandes {
    height: 500px;
  }
  #titleMobile {
    font-size: 3.5vh;
  }
}