#commandes h2 {
  font-family: 'Press Start 2P', cursive;
  color: #45BAC0;
  font-size: 40px;
  margin-left: 62px;
  margin-bottom: 100px;
}

#commandes p {
  font-family: Roboto;
  color: white;
  font-size: 30px;
  margin-left: 92px;
  margin-bottom: 118px;
}
#ecranJeu {
  height: 700px;
  width: 80%;
  background-color: white;
  margin-left: 188px;
  margin-bottom: 100px;
}