* {
    background-color : #0C0032;
}

.supportButton {
    background-color : #E100FF;
    text-align: center;
    color : #F9F9F9;
    padding : 20px;
    border-radius:  55px;
    font-size: 22px;
    margin-top : 3%;
    margin-left : 80%;
}

.title_synopsis {
    font-size : 40px;
    color : #45BAC0;
    margin-top : 3%;
}

.text_synopsis {
    font-size : 35px;
    margin-top : 3%;
    color: #DDDDDD;
}