#header {
  height: 900px;
  display: flex;
}
#logoTeam {
  height: 146px;
  width: 8%;
  margin-top: 60px;
  margin-left: 60px;
}
#logoJeu {
  height: 294px;
  width: 15%;
  margin-left: 600px;
  align-self: center;
}
h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 48px;
  letter-spacing: 5px;
  font-weight: 0;
  color: #45BAC0;
  align-self: center;
  margin-top: 300px;
  margin-left: -350px;
}