#header {
  height: 900px;
  display: flex;
}
#logoTeam {
  height: 146px;
  width: 8%;
  margin-top: 60px;
  margin-left: 60px;
}
#logoJeu {
  height: 294px;
  width: 15%;
  margin-left: 600px;
  align-self: center;
}
h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 48px;
  letter-spacing: 5px;
  font-weight: 0;
  color: #45BAC0;
  align-self: center;
  margin-top: 300px;
  margin-left: -450px;
}

@media screen and (max-width: 425px) {
  #logoTeam {
    height: 150px;
    width: 150px;
    margin-top: 15px;
    margin-left: 15px;
  }
  #logoJeu {
    height: 280px;
    width: 250px;
    margin-left: -12%;
    align-self: unset;
    margin-top: 60%;
  }
  h1 {
    font-size: 40px;
    margin-left: -67%;
    margin-top: 250px;
    letter-spacing: 0;
    width: 320px;
    text-align: center;
    line-height: 60px;
  }
}