.map_background{
    width: 100%;
    height: 100%;
    background: green;
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(8, 1fr);
    margin: auto;
}
.obstacle {
    grid-column: 5/6;
    grid-row: 5/6;
    background: red;
    z-index: 1;
}
.obstacle-2 {
    grid-column: 10/11;
    grid-row: 3/4;
    background: red;
    z-index: 1;
}
.obstacle-3 {
    grid-column: 7/8;
    grid-row: 2/3;
    background: red;
    z-index: 1;
}
.npc-1 {
    grid-column: 11/12;
    grid-row: 1/2;
    background: yellow;
    z-index: 1;
}


/* // tout ce qui concerne l'avatar */

.Avatar {
    height: 72px;
    width: 52px;
    background-image: url('./img/Tileset.png');
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    margin: auto;
}

/* Quote Container */
.quoteContainer {
    display: none;
    position: absolute;
    bottom: 30px;
    margin: auto;
    width: 1152px;
    height: 100px;
    background: rgba(0, 0, 0, 0.555);
}


/* Downside direction */
@keyframes downSideMove {
    25% {
        background-position: top 288px right 416px;
    }
    50% {
        background-position: top 288px right 468px;
    }
    75% {
        background-position: top 288px right 416px;
    }
    100% {
        background-position: top 288px right 364px;
    }
}

/* Left side direction */
@keyframes leftSideMove {
    25% {
        background-position: top 216px right 416px;
    }
    50% {
        background-position: top 216px right 468px;
    }
    75% {
        background-position: top 216px right 416px;
    }
    100% {
        background-position: top 216px right 364px;
    }
}

/* Right side direction */
@keyframes rightSideMove {
    25% {
        background-position: top 144px right 416px;
    }
    50% {
        background-position: top 144px right 468px;
    }
    75% {
        background-position: top 144px right 416px;
    }
    100% {
        background-position: top 144px right 364px;
    }
}

/* Upside direction */
@keyframes upSideMove {
    25% {
        background-position: top 72px right 416px;
    }
    50% {
        background-position: top 72px right 468px;
    }
    75% {
        background-position: top 72px right 416px;
    }
    100% {
        background-position: top 72px right 364px;
    }
}