.popup-area {
    width: 20%;
    height: 220px;
    background-color: gray;
    opacity: 0.8;
    overflow: hidden;
    border: 2px solid black;
    margin-top: 10px;
    margin-right: 501px;
}


.popup-area ul {
    margin-top: 68px;
    background-color: transparent;
    width: 93%;
    margin-left: 11px;
    list-style: none;
}

.popup-area ul li {
    margin-top: 25px;
    text-decoration: none;
    background-color: transparent;
    width: 100%;
}


.help:hover {
    cursor: pointer;
    color: white}