#startMenu {
  background-color: #47bac0ff;
  height: 700px;
  width: 1300px;
  margin: auto;
}
#startMenu section {
  background-color: #47bac0ff;
  padding-top: 10%;
}
#startMenu .link {
  text-decoration: none;
  color: #47bac0ff;
}
#startMenu div {
  background-color: #0c0032ff;
  width: 40%;
  font-family: 'Press Start 2P';
  margin: auto;
  text-align: center;
  font-size: 2.5vh;
  margin-bottom: 35px;
  padding: 2%;
  color: #47bac0ff;
  cursor: pointer;
  text-decoration: none;
}
#startMenu .link:hover, #startMenu div:hover {
  color: #e100ffff;
}
#startMenu #startMenuPub {
  background-color: #e100ffff;
  width: 70%;
  margin-top: 8%;
  padding: 3%;
  color: #0c0032ff;
}